@define-color background #141b1e;
@define-color foreground #dadada;
@define-color dark-foreground #3c4346;
@define-color red #e57474;
@define-color green #8ccf7e;
@define-color yellow #e5c76b;
@define-color blue #67b0e8;
@define-color magenta #c47fd5;
@define-color cyan #6cbfbf;

* {
  font-family: "JetBrains Mono SemiBold";
  font-size: 10pt;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

#custom-rofi,
#workspaces,
#network,
#pulseaudio,
#custom-wttr,
#clock,
#custom-logout {
  margin: 8px 4px 8px 4px;
  padding: 0px 8px 0px 8px;
  color: @foreground;
}

#custom-rofi {
  margin: 8px 4px 8px 8px;
  background: @blue;
  color: @background;
}

#workspaces button {
  border: none;
  background: none;
  color: @foreground;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.default {
  color: @dark-foreground;
}

#network,
#custom-wttr {
  background: @magenta;
  color: @background;
}

#pulseaudio,
#clock {
  background: @cyan;
  color: @background;
}

#custom-logout {
  margin: 8px 8px 8px 4px;
  background: @red;
  color: @background;
}
