@define-color background #141b1e;
@define-color foreground #dadada;
@define-color lighter-background #1e2528;
@define-color red #e57474;
@define-color green #8ccf7e;
@define-color yellow #e5c76b;
@define-color blue #67b0e8;
@define-color magenta #c47fd5;
@define-color cyan #6cbfbf;

* {
  font-family: "JetBrains Mono SemiBold";
  font-size: 10pt;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

#custom-rofi,
#workspaces,
#mpris,
#network,
#pulseaudio,
#custom-wttr,
#clock,
#custom-logout {
  color: @foreground;
}

#custom-rofi {
  margin-left: 16px;
  margin-right: 16px;
  color: @blue;
  border-color: @blue;
}

#workspaces button {
  padding: 8px;
  border: none;
  background: none;
  color: @foreground;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.default {
  color: @lighter-background;
}

#custom-logout {
  margin-left: 16px;
  margin-right: 16px;
  color: @red;
  border-color: @red;
}
